

hr {
    margin: 10px auto !important;
    border-top: 1px solid black !important;
}

#post{
    border:1px solid grey;
    margin: auto;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 8px 16px -5px rgba(0,0,0,0.75);
}

.comentarios {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comentario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border:1px solid black;
    width: 85%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
}

.tituloCom {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    border-right: 1px solid gray;

}
.com {
    width: 60%;
    word-break: break-word;
}
.editCom {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    max-height: 40px;
    align-self: center;
}

.textarea {
    width: 50%;
    height: auto;
    outline: none;
    resize:none;
}

.hiden{
    display: none;
}



.title {
    font-weight: bold;
}

.button-style {
    background-color: #0d6efd;
    border-color: #0d6efd;
    cursor: pointer;
    color: #fff;
    border-radius: 4px;
    border: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: 40%;
}

.button-style:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
    text-decoration: none;
}

.button-style:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}
.button-style:active:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.button-area {
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.space {
    width: 10px;
}